* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --text-color: #333;
  --text-color-success: #038303;
  --text-color-error: #ff0000;
  --text-color-black-1: #4400e4;
  --text-color-black-1-hover: #16004b;
  --background-login: #bbb;
  --background-login-form: #eee;
  --background-login-input: #ddd;
  --input-login-outline: rgb(81, 220, 255);
}

.success {
  background-color: rgb(0, 255, 0);
  color: var(--text-color-success);
}

.success:hover {
  background-color: rgb(0, 200, 0);
  color: var(--text-color-black-1-hover);
}

.error {
  color: var(--text-color-error)
}